<div class="card">
    <input type="text" 
        [formControl]="searchControl" 
        placeholder="Search products..."
    /> 
    <ul *ngIf="filteredProducts$ | async as products">
        <li *ngFor="let product of products"
        (click)="openProduct(product.id)"
        style="cursor:pointer"
        >
            {{ product.title }} - {{ product.category }}
            <button (click)="toggleFavorite(product.id)">
                {{ product.isFavorite ? '❤️' : '🤍' }}
            </button>
        </li>
    </ul>
</div>
