/* Base sidebar (desktop) */
@import '../../../styles/variables';
.sidebar {
  width: 250px;
  background: #333;
  color: white;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  height: 100dvh;
  flex-shrink: 0;

  position: relative;
  z-index: 1;
  
}
a{
  color:$primary-color;
  text-decoration:none
}
.sidebar-light{
  background-color: #fff;
  color:$primary-color;
}
.sidebar-dark a{
  color:$primary-light;
}
.sidebar-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* Mobile overlay behavior */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px; /* header height */
    left: 0;

    width: 250px;
    height: calc(100dvh - 60px);

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    z-index: 1000; /* ABOVE header + backdrop */
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
