
@import '../../../styles/variables';
@import '../../../styles/mixins';
.layout {
  min-height: 100dvh;
  display: flex;
}

/* Main content column */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0; /* IMPORTANT for overflow */
  background-color:$background-secondary;
}

/* Router outlet wrapper */
.page {
  flex: 1;
  overflow: auto;
  padding: 16px;
}

/* Backdrop for mobile sidebar */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}